<h1>Articles</h1>
<% if !user_signed_in? %>
  <%= link_to "Sign In", new_user_session_path %>
<% else %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>
<%= link_to "Sign Up", new_user_registration_path %>
<p>There are <%= pluralize(Article.public_count, 'article') %></p>
<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li><%= link_to article.title, article %></li>
    <% end %>
  <% end %>
</ul>
<%= link_to "New Article", new_article_path %>
