<p><%= pluralize(@article.likes.count, 'like') %></p>
<% if user_signed_in? %>
  <% if current_user && @article.likes.exists?(user_id: current_user.id) %>
    <%= button_to "Unlike", unlike_article_path(@article), method: :delete %>
  <% else %>
    <%= button_to "Like", like_article_path(@article), method: :post %>
  <% end %>
<% else %>
  <%= link_to "Like", new_user_session_path, data: { turbo_frame: "_top" } %>
<% end %>
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <%# data-turbo-method="delete" will cause the link to make a DELETE request instead of a GET request. data-turbo-confirm="Are you sure?" will cause a confirmation dialog to appear when the link is clicked. If the user cancels the dialog, the request will be aborted. %>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
<h2>Comments</h2>
<%= render @article.comments %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
